.headerWrapper {
    width: 100%;
    background-color: var(--overlay-color);
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(64px);
    -webkit-backdrop-filter: blur(64px);
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    height: var(--header-height);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.logoSection {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.themeToggleSection {
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
    color: var(--sub-color);
    font-weight: 500;
    font-size: 14px;
}

.link:hover {
    color: var(--sub-color-6);
}

.navButton {
    color: var(--sub-color);
    cursor: pointer;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navButton:hover {
    color: var(--sub-color-6);
}

.menuButton {
    display: none;
}

@media (max-width: 800px) {
    .headerWrapper {
        padding: 0;
    }

    .menuButton {
        display: flex;
        z-index: 1001;
    }

    .header {
        flex-wrap: wrap;
    }

    .logoSection {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .nav {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: 0.3s ease;
        padding: 0;
        z-index: 100;
        order: 3;
    }

    .navOpen {
        max-height: 324px;
        opacity: 1;
        padding: 20px 16px 24px 16px;
    }

    .headerWrapper.menuOpened {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 10%);
    }

    .nav .link {
        width: 100%;
        text-align: center;
        font-size: 32px;
        padding: 10px 0;
        display: block;
    }
}
