.transitionOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: transparent;
    pointer-events: none;
    overflow: hidden;
}

.transitionOverlay::before {
    content: '';
    position: absolute;
    top: var(--start-top);
    left: var(--start-left);
    width: var(--start-width);
    height: var(--start-height);
    background-image: var(--image-url);
    background-size: cover;
    background-position: center;
    transform-origin: center;
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
        top: var(--start-top);
        left: var(--start-left);
        width: var(--start-width);
        height: var(--start-height);
        border-radius: 0;
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        transform: none;
        top: var(--end-top);
        left: var(--end-left);
        width: var(--end-width);
        height: var(--end-height);
        border-radius: 0;
        opacity: 1;
    }
}

.transitionContent {
    flex-grow: 1;
    min-height: 100%;
    opacity: 1;
    transition: opacity 0.3s ease;
    will-change: opacity;
}

.fadeOut {
    opacity: 0;
}

.noTransition {
    transition: none !important;
}

.portfolioOverlay::before {
    animation: zoomInPortfolio 0.5s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

.blogOverlay::before {
    animation: zoomInBlog 0.5s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

@keyframes zoomInPortfolio {
    0% {
        transform: scale(1);
        top: var(--start-top);
        left: var(--start-left);
        width: var(--start-width);
        height: var(--start-height);
        border-radius: 0;
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        transform: scale(1.2);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        opacity: 0;
    }
}

@keyframes zoomInBlog {
    0% {
        transform: scale(1);
        top: var(--start-top);
        left: var(--start-left);
        width: var(--start-width);
        height: var(--start-height);
        border-radius: 0;
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: none;
        top: var(--end-top);
        left: var(--end-left);
        width: var(--end-width);
        height: var(--end-height);
        border-radius: 0;
        opacity: 1;
    }
}