/* Container for the cross-fade transition */
.container {
    display: grid;
    grid-template-areas: "stack";
    isolation: isolate;
    /* Create a new stacking context */
}

.layer {
    grid-area: stack;
    width: 100%;
    /* Ensure content takes up space naturally */
}

/* Blog Page Skeleton Styles */
.categoryFilter {
    margin: 20px 0 30px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.categoryBtn {
    padding: 8px 16px;
    width: 80px;
    border-radius: 20px;
    border: 1px solid var(--color-base-9);
    font-size: 0.9rem;
    line-height: normal;
}

.categoryBtn::after {
    content: "\00a0";
    display: inline-block;
}

.postList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 24px;
    padding: 0;
    list-style: none;
}

.postTile {
    overflow: hidden;
    background: var(--color-base-10);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.postThumbnail {
    width: 100%;
    aspect-ratio: 16/9;
    background: linear-gradient(90deg, var(--color-base-8) 25%, var(--color-base-7) 50%, var(--color-base-8) 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
}

.tileDescription {
    padding: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.tileHead {
    flex-direction: column;
}

.postTitle {
    height: 54px;
    margin: 0 0 8px 0;
}

.postSummary {
    height: 42px;
    margin: 0 0 8px 0;
}

.postDate {
    height: 20px;
    margin: auto 0 0 0;
    width: 120px;
}

/* Portfolio Page Skeleton Styles */
.projectList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 24px;
    padding: 0;
    list-style: none;
}

.projectTile {
    overflow: hidden;
}

.projectThumbnail {
    width: 100%;
    aspect-ratio: 16/9;
    background: linear-gradient(90deg, var(--color-base-8) 25%, var(--color-base-7) 50%, var(--color-base-8) 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
}

.projectTitle {
    height: 27px;
    margin: 16px 0;
}

/* Skeleton Animation */
.skeleton {
    background: linear-gradient(90deg, var(--color-base-8) 25%, var(--color-base-7) 50%, var(--color-base-8) 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}