.socialIcons {
    top: 50%;
    left: 24px;
    position: fixed;
    margin-top: -80px;
}

.socialIcons ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.socialIcons svg {
    width: 16px;
    height: 16px;
    fill: var(--text-color);
    transition: all .4s cubic-bezier(0.55, 0, 0.1, 1);
}

.socialIcons svg:hover {
    transform: scale(1.5);
    transition: all .2s cubic-bezier(0.55, 0, 0.1, 1);
}

.socialIcons p {
    position: absolute;
    white-space: nowrap;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 600;
    writing-mode: sideways-lr;
    display: inline-block;
    overflow: visible;
    margin-left: 8px;
}

.socialIcons .line {
    border-left: 1px solid var(--text-color);
    height: 48px;
    width: 0;
    margin: 16px;
}

.socialIcons ul li {
    display: block;
    font-size: 12px;
    text-align: center;
    margin-bottom: 8px;
}

@media (max-width: 1279px) {
    .socialIcons {
        position: static;
        margin-top: unset;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .socialIcons p {
        white-space: nowrap;
        position: relative;
        writing-mode: horizontal-tb;
        font-size: 16px;
        margin-left: 16px;
    }

    .socialIcons .line {
        border-top: 1px solid var(--text-color);
        height: 0;
        width: 32px;
        margin: 16px;
    }

    .socialIcons ul li {
        display: inline;
        margin-right: 16px;
    }
}