@font-face {
    font-family: "NanumSquareNeo";
    font-weight: 300;
    font-style: normal;
    src: url("/fonts/NanumSquareNeoTTF-aLt.woff2") format("woff2");
}

@font-face {
    font-family: "NanumSquareNeo";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/NanumSquareNeoTTF-bRg.woff2") format("woff2");
}

@font-face {
    font-family: "NanumSquareNeo";
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/NanumSquareNeoTTF-cBd.woff2") format("woff2");
}

@font-face {
    font-family: "NanumSquareNeo";
    font-weight: 600;
    font-style: normal;
    src: url("/fonts/NanumSquareNeoTTF-dEb.woff2") format("woff2");
}

@font-face {
    font-family: "NanumSquareNeo";
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/NanumSquareNeoTTF-eHv.woff2") format("woff2");
}

:root {
    --font-nanumsquareneo: 'NanumSquareNeo', sans-serif;

    --color-black: #000000;

    --color-gray-100: #161616;
    --color-gray-90: #262626;
    --color-gray-80: #393939;
    --color-gray-70: #525252;
    --color-gray-60: #6f6f6f;
    --color-gray-50: #8d8d8d;
    --color-gray-40: #a8a8a8;
    --color-gray-30: #c6c6c6;
    --color-gray-20: #e0e0e0;
    --color-gray-10: #f4f4f4;

    --color-white: #ffffff;

    --color-red-60: #da1e28;
    --color-red-50: #fa4d56;

    --color-base-1: var(--color-gray-10);
    --color-base-2: var(--color-gray-20);
    --color-base-3: var(--color-gray-30);
    --color-base-4: var(--color-gray-40);
    --color-base-5: var(--color-gray-50);
    --color-base-6: var(--color-gray-60);
    --color-base-7: var(--color-gray-70);
    --color-base-8: var(--color-gray-80);
    --color-base-9: var(--color-gray-90);
    --color-base-10: var(--color-gray-100);

    --color-bg-rgb: 0, 0, 0;
    --color-bg: var(--color-black);

    --color-surface: var(--color-base-10);

    --color-text-primary: var(--color-base-1);
    --color-text-secondary: var(--color-base-3);
    --color-text-tertiary: var(--color-base-5);

    --color-error: var(--color-red-50);

    --color-overlay-1: rgb(0 0 0 / 70%);
    --color-overlay-2: rgb(38 38 38 / 70%);

    --header-height: 52px;
    --header-expanded-height: 400px;
}

[data-theme="light"] {
    --color-base-1: var(--color-gray-100);
    --color-base-2: var(--color-gray-90);
    --color-base-3: var(--color-gray-80);
    --color-base-4: var(--color-gray-70);
    --color-base-5: var(--color-gray-60);
    --color-base-6: var(--color-gray-50);
    --color-base-7: var(--color-gray-40);
    --color-base-8: var(--color-gray-30);
    --color-base-9: var(--color-gray-20);
    --color-base-10: var(--color-gray-10);

    --color-bg-rgb: 255, 255, 255;
    --color-bg: var(--color-white);

    --color-error: var(--color-red-60);

    --color-overlay-1: rgb(255 255 255 / 70%);
    --color-overlay-2: rgb(244 244 244 / 70%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-nanumsquareneo), system-ui;
    font-weight: 500;
    word-break: auto-phrase;
}

a,
a:hover {
    color: var(--color-text-primary);
    text-decoration: none;
}

p {
    word-break: auto-phrase;
    hyphens: auto;
    white-space: pre-wrap;
}

.titleText {
    margin-top: 10vh;
    margin-bottom: 64px;
    font-size: 64px;
    overflow: visible;
}

@media (max-width: 768px) {
    .titleText {
        font-size: 40px;
        margin-bottom: 32px;
        overflow: visible;
        white-space: normal;
        word-break: break-word;
        width: 100%;
    }
}